.callback-form {
  margin: 0 auto;
  margin-bottom: 156px;
  display: flex;
  flex-direction: column;
  width: 380px;

  border-radius: 5px;
  padding-top: 32px;
  overflow: hidden;
  position: relative;

  &__blur {
    background: url("../img/works_bg_footer.png") no-repeat;
    background-position: left 0px bottom 0px;
    filter: blur(12px);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include big-tablet {
      background-color: #e9eae6;
    }
  }
  &__title {
    font-size: 30px;
    &:after {
      bottom: -63%;
    }
    @include tablet {
      width: 96%;
      margin-left: auto;
      margin-right: auto;
    }
    @include mobile {
      font-size: 21px;
    }
  }
  &__name {
    position: relative;
    width: 80%;
    border: none;
    border-radius: 30px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 16px 20px 16px 20px;
    outline: none;
  }
  &__email {
    width: 80%;
    position: relative;
    border: none;
    border-radius: 30px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 16px 20px 16px 20px;
    outline: none;
  }
  &__comment {
    position: relative;
    width: 80%;
    border: none;
    border-radius: 30px;
    resize: none;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 140px;
    padding: 16px 20px 16px 20px;
    outline: none;
  }
  &__button-row {
    display: flex;
    position: relative;
  }
  &__submit {
    flex: 1 1 50%;
    border: none;
    padding: 15px 0 17px 0;
    border-right: 1px solid #fff;
    background-color: rgba($moss, 0.6);
    &:hover {
      background-color: rgba($fern-green, 1);
    }
  }
  &__reset {
    flex: 1 1 50%;
    border: none;
    padding: 15px 0 17px 0;
    border-left: 1px solid #fff;
    background-color: rgba($moss, 0.6);
    transition: background-color 0.5s;
    &:hover {
      background-color: rgba($fern-green, 1);
    }
  }

  @include tablet {
    max-width: 320px;
    width: 94%;
  }
  //   input::-moz-placeholder {...}
  //   textarea::-moz-placeholder {...}
}
