.header {
  position: relative;
  background: url("../img/water.jpg") center center / cover no-repeat;
  padding-top: 101px;
  padding-bottom: 50px;
  flex: 0 0 auto;
  height: 100vh;
  &__container {
    position: relative;
    height: 100%;
  }
  &__svg-portfolio {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 100%;
    height: 48%;
    opacity: 0.12;
    fill: $white;
    transform: translate(-50%, -50%);
  }
  &__triangle {
    position: absolute;
    bottom: -77.8px;
    right: 0;
    left: 0;
    fill: $white;
    width: 100%;
    @include ie10plus {
    }
  }

  &__socials {
    position: absolute;
    top: -57px;
    left: 26px;
    @include mobile {
      top: -77px;
    }
  }
  &__avatar {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include mobile {
      width: 260px;
    }
  }
  &__hamburger-menu {
    position: absolute;
    top: -73px;
    right: 3%;
    @include mobile {
      top: -93px;
    }
    &--z-indexed {
      z-index: 20;
    }
  }
  &__pages-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 10;
    display: none;
    margin-bottom: 0;
    text-align: center;
    padding-top: 30px;
    &--visible {
      display: block;
    }
  }
  &__pages-left {
    background-color: $fern-green-70;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: leftHamburgerMenuAnimate 1s;
  }
  &__pages-right {
    background-color: $fern-green-70;
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    animation: rightHamburgerMenuAnimate 1s;
  }
  &__pages-list {
    .pages-list__item {
      display: block;
      margin-right: 0;
      position: relative;
      margin-bottom: 40px;
      &--active {
        &:after {
          content: "";
          height: 4px;
          width: 100px;
          position: absolute;
          bottom: -24px;
          left: 50%;
          transform: translateX(-50%);
          background-color: $white;
        }
      }
    }
    .pages-list__link {
      font-size: 35px;
      display: inline-block;
      .new {
        opacity: 0;
      }
      .div_opacity {
        transition: opacity 0.2s ease-in-out;
        opacity: 1;
      }
    }
  }

  &--works {
    margin-bottom: 60px;
  }
  @include mobile {
    padding-bottom: 204px;
  }
}
