.header {
  position: relative;
  background: url("../img/Background-header.jpg") center center / cover
    no-repeat;
  padding-top: 101px;
  padding-bottom: 50px;
  flex: 0 0 auto;
  &__container {
    position: relative;
  }
  &__triangle {
    position: absolute;
    bottom: -77.8px;
    right: 0;
    left: 0;
    fill: $white;
    width: 100%;
  }
  &__socials {
    position: absolute;
    top: 53px;
    left: 3;
  }
  &__avatar {
  }
  &__hamburger-menu {
  }
}
