.main {
  position: relative;
  flex: 1 1 auto;

  &__container {
    &--articles {
      // для IE width
      width: 100%;
      display: flex;
      @include tablet {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    &--works {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--articles {
    display: flex;
    padding-top: 68px;
    padding-bottom: 66px;
    flex: 1 1 auto;
  }
  &--about-me {
    padding-top: 20px;
  }
}
