extends ../layout.pug

//- создаем пременные для страницы works (задаем тайтл и модификатор для враппера)
block variables
    - title= 'about';
    - wrapper_modif= 'wrapper--about';
    - footer_modif= 'footer--about';
    - isPage =true;

block scripts
    script( src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFgkyZElMybUir8MZo3_jbwRXx0zWrya0&callback=initMap")



//- это из блока header замена другим блоком
block person-card
    div(class="header__avatar person-card") 
        .person-card__top
            .person-card__pic
                img(class='person-card__img' src="../img/avatar_my.jpg")
        .person-card__bottom
            .person-card__fio.
                Александр Косицын
            .person-card__whoIsSite.
                Личный сайт веб разрабочика
//- другой контент
block main 
    main(class='main main--about-me')
        section.about-me 
            .about-me__description
                h1.title.title--underlined.about-me__title-about Обо мне
                .about-me__pic
                    img(src='./img/avatar_my.jpg').about-me__img
                h1.title.title--underlined.about-me__title-whoIsI Кто я
                .about-me__text.
                    Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                    Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
            .about-me__skills
                h1.title.title--underlined.about-me__title-myBenefit Чем я могу быть вам полезен
                .about-me__skills-text.
                    Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
                .about-me__skills-frontend
                    .about-me__frontend-title Frontend
                    ul.about-me__frontend-list
                        li.about-me__frontend-item HTML5
                        li.about-me__frontend-item CSS3
                        li.about-me__frontend-item JavaScript<br>& jQuery
                .about-me__skills-backend
                    .about-me__backend-title Backend
                    ul.about-me__backend-list
                        li.about-me__backend-item PHP
                        li.about-me__backend-item mySQL
                        li.about-me__backend-item Node.js<br>& npm
                        li.about-me__backend-item Mongo.db
                .about-me__skills-workflow
                    .about-me__workflow-title WorkFlow
                    ul.about-me__workflow-list
                        li.about-me__workflow-item Git
                        li.about-me__workflow-item Gulp
                        li.about-me__workflow-item Bower
        section.contacts
            .map#map
            .contacts__wrapper
                h1.title.title--underlined.contacts__title Контакты
                
                - var icons = [['skype', 'skype_kdn'], ["envelope2",'astahov@gmail.com'], ['phone2','+7 931 200 93 24'], ['map_marker','Новосибирск, ул. Инская, д.14' ]]
                ul.contacts__list
                    //цикл для генерирования списка контактов
                    each val in icons
                        li.contacts__item
                            svg.contacts__svg
                                use(xlink:href=`icons/sprite/sprite.svg#${val[0]}`)
                            | #{val[1]}

    
                        
                    