<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title forestAboutMe
        |
        // build:css css/vendor.min.css 
        link(rel="stylesheet" href="./lib/normalize.css" ) 
        // endbuild 
        |
        // build:css css/main.min.css 
        link(rel="stylesheet" href="css/base.css") 
        // endbuild 
        |
        // build:js js/vendor.min.js \
        script( src="./lib/svg4everybody.min.js")
        // endbuild  
    body
        script.
            svg4everybody(); // run it now or whenever you are ready
        div(class="wrapper")
            header(class="header")
                .container.haeder__container
                    - var values = ['vk','github','in'];
                    ul(class="header__socials social-list") 
                        //цикл для генерирования социалок в хедере
                        each val in values
                            li(class="social-list__item")
                                a(class="social-list__link" href='#')
                                    svg(class="social-list__icon")
                                        use(xlink:href="icons/sprite/sprite.svg#" + val)
                    div(class="header__avatar person-card") 
                        .person-card__top
                            .person-card__pic
                                img(class='person-card__img' src="../img/avatar_my.jpg")
                        .person-card__bottom
                            .person-card__name-text.
                                Блог
                            .person-card__text-amplua.
                                Статьи, которые я написал
                    div(class="header__hamburger-menu")
                        a(href="#" class="hamburger")
                            span
                    a(href='#' class="bottom-arrow" data-scroll-to="1")
            main(class='main main--about')
                .container.main__container.main__container--about
                    aside(class="articles-nav")
                        - 
                            var 
                            articles_themes = [
                                'Приёмы в вёрстке, без которых не обходится ни один сайт',
                                'Самый необходимый набор Gulp плагинов',
                                'Почему я выбрал Jade'
                                ];
                        ul(class="articles-nav__list")
                            //ПОтом пересмотреть и может как то исправить 
                            li(class="articles-nav__item articles-nav__item--active").
                                Самое важное в SASS
                            each theme in articles_themes
                                li(class="articles-nav__item"). 
                                    #{theme}
                                    
                                  
                    ul.article-list
                        li(class="article-list__item")
                            .article-list__item-title.
                                Самое важное в SASS
                            .article-list__item-date.
                                22 ноября 2016
                            .article-list__item-text.
                                Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                            .article-list__item-code
                                .code-block
                                    pre.code-block__pre
                                        code.code-block__code
                                            span(class="token keyword") with
                                            span(class="token punctuation") (
                                            |obj
                                            span(class="token punctuation") ) 
                                            |
                                            |
                                            span(class="token punctuation") {
                                            |
                                            |
                                            span(class="token operator") ...
                                            | код
                                            span(class="token operator") ...
                                            |
                                            |
                                            span(class="token punctuation") }
                                        span.code-block__numbers-row
                                            span
                                            span
                                            span
                                            span
                                    
                        li(class="article-list__item")
                            .article-list__item-title.
                                Приёмы в вёрстке, без которых не обходится ни один сайт
                            .article-list__item-date.
                                13 ноября 2016
                            .article-list__item-text.
                                Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                            .article-list__item-code   
            footer(class="footer") 
                .container.footer__container.footer__container--top
                    .footer__column.footer__column--left
                        .footer__about.
                            Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
                    .footer__column.footer__column--center
                        - var pages = ['Мои работы', "Обо мне", 'Блог', 'Авторизация']
                            ul(class=" footer__pages-list pages-list") 
                                //цикл для генерирования социалок в хедере
                                each val in pages
                                    li(class="pages-list__item")
                                        a(class="pages-list__link" href='#').
                                            #{val}
                            ul(class="footer__socials social-list") 
                                //цикл для генерирования социалок в футере
                                each val in values
                                    li(class="social-list__item")
                                        a(class="social-list__link" href='#')
                                            svg(class="social-list__icon")
                                                use(xlink:href="icons/sprite/sprite.svg#" + val)
                                            
                    .footer__column.footer__column--right
                        .footer__quote
                            | Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.<br>
                            | <span class='footer__quote-author'> — Martin Golding</span>
                            | 
                .container.footer__container.footer__container--bottom
                    .footer__copyright.
                        © Александр Косицын | Создано с любовью в LoftSchool | 2017
            

  

        // build:js js/main.min.js 
        script(src="js/main.min.js") 
        // endbuild 
        