//- здесь нужно указать вот такие переменные
//- title - название страницы
//- wrapper_modif - МОДИФИКАТОР для wrapper
//- footer_modif - МОДИФИКАТОР для footer
//- isPage - включает header footer и main часть
//- header_modif - МОДИФИКАТОР для header
//- pagesListActiveItem - integer, номер активного item в выпадающем pages-menu в гамбургере
block variables

//- все миксины нужно подключать до всех файлов
include mixin

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")   
        //- тут нужно задать title для страницы
        title #{title}
        
    
    body
        
        div(class=`wrapper ${wrapper_modif}`)
            - if (isPage) {
            //-тут нужно задать новую плашку с аватаркой и вставить block headerSvg (для фоновой свг)////////////////////////////////////////////////////////////////////////////
            include blocks/header
            //-тут нужно задать новое наполнение (внутри есть block main) /////////////////////////////////////////////////////////////////
            include blocks/main
             //-тут ничего задавать не нужно просто include пока ///////////////////////////////////////////////////////////////////////
            include blocks/footer.pug
            
            - }
            //- если нужно что добавить во wrapper
            block wrapper_addon
            
            

        //- дополнительные скрипты для страниц тут
        block scripts

        
