.about-content__item {
  flex: 1 1 auto;
  &:nth-child(odd) {
    flex: 0 0 35%;
  }
  &:nth-child(even) {
    flex: 0 0 35%;
    margin-right: auto;
  }
}
.about-content__title {
  font-family: "robotomedium";
  margin-bottom: 20px;
}
.about-content__table {
  width: 100%;
  border-spacing: 0px 10px;
}
