.admin-header {
  flex: 0 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $moss;
}

.header {
  color: $white;
  &__title {
    font-size: 28px;
  }
  &__logout {
    margin-left: auto;
    color: $white;
  }
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding-left: 38px;
  padding-right: 38px;
  display: flex;
  align-items: center;
  @include tablet {
    padding-left: 8px;
    padding-right: 8px;
  }
}
