.work-content {
  flex: 1 1 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("../../img/water.jpg") center center / cover no-repeat;
  &__title {
    font-size: 21px;
    font-family: "robotoregular";
    margin-bottom: 50px;
  }
  &__title-form {
    font-family: "robotoregular";
    margin-bottom: 20px;
  }
  &__form {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
  &__input {
    width: 40%;
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
  }
  &__file-label {
    display: block;
    cursor: pointer;
  }
  &__file-input {
    position: absolute;
    left: -99999px;
  }
  &__file-picture {
    width: 38px;
    height: 38px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  &__file-img {
    width: 100%;
  }
  &__file-text {
    vertical-align: middle;
    display: inline-block;
  }
  &__save {
    display: inline-block;
    padding: 13px 20px 13px 19px;
    border: none;
    border-radius: 5px;
    background-color: $moss;
    color: $white;
    font-family: "robotoregular";
    width: 120px;
    margin-top: auto;
  }
  &__popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    background-color: $white;
    padding: 20px;
    color: $moss;
    text-align: center;
    border-radius: 10px;
  }
  &__message {
    margin-bottom: 20px;
  }
  &__close {
    display: inline-block;
    padding: 13px 20px 13px 19px;
    border: none;
    border-radius: 5px;
    background-color: $moss;
    color: $white;
    font-family: "robotoregular";
    width: 120px;
  }
  &__error-message {
    color: red;
  }
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding-left: 38px;
  padding-right: 38px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  @include tablet {
    padding-left: 8px;
    padding-right: 8px;
  }
}
